<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>to-do diary</title>
</head>
<header>
    <nav>
        <ul>
            <li class="navli">
                <a href="/" class="nava">Daily</a>
            </li>
            <li class="navli">
                <a href="/work" class="nava">Work</a>
            </li>
        </ul>
    </nav>
</header>
<body>
    